p {color:red;}
h1 {color:red;}
h4 {color:red;}


#container{
  width: 95%
  background-color: red
  margin:0 auto;
}

#nav {
  margin:0;
  padding: 0;
  width: 25%;
}

#nav a:link, a:visited {
  display: block;
  color: #fff;
  background-color: #98bf21;
}

#nav li {
  list-style-type: none;
  float: left;
}
