p {
  color:red;
margin-left: 40px;
}

h1 {
  color:red;
margin-left: 40px;
}
h4 {
  color:red;
margin-left: 40px;
}
h2 {color:red;
  margin-left: 40px;
}
h3{color:red;
margin-left: 40px;}


#container{

  background-color: red
  margin:0 auto;
}
body{
  background-color:linen;
  float: center;
}
li {
  display: block;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;
}
li {
  display: block;
}

#nav a:link, a:visited {
  display: block;
  color: red;
  background-color: black;
}

#nav li {
  list-style-type: none;
  float: center;
}
