body{
  background-color: rgb(228, 212, 232);


}
div{
  background-color: rgb(195, 164,204);



}

img {
  border: 0;

}



#container{
  width: 95%;
  margin: 0 auto;
}
#nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 25%;




}

#nav a:hover, a:visited, a:active {
  font-family: 'Open Sans', sans-serif, helvetica;
  color: purple;
  padding: 14px 25px;

  text-decoration: none;
  display: inline-block;

}


li{

  background-color: white;


}
#nav a {
  background-color: white;
  color: rgb(198, 135, 196);

  background-position: center;
  padding: 20px;
  float: none;



}


.nav{
  list-style:none;
  margin:0;
  padding:0;
  display:flex;
  flex-flow: column;

}
.nav a{
  text-decoration:none;
  display:block;
  padding:10px;
  color:purple;

}
@media (min-width: 800px){
  .nav{flex-flow:row;
  justify-content: flex-end;}
}
.nav a:hover{
  background: rgb(198,135,196);
}
.first{
  margin-right:auto;}


.header{
  background:purple;
}

.main{background:rgb(198,135,196);}
.aside-1{
  background: rgb(198,135,196);
}
.aside-2{
  background:rgb(198,135,196);
}

.wrapper{
  display:flex;
  flex-flow:row wrap;
  font-weight:bold;
  text-align:center;
}

.header, .main, .aside{
  flex:1 100%;
  padding: 10px;
}

img{
  width:100%;
}

@media(min-width:800px){
  .aside{flex:1 auto;}
  .main{flex:3 0px;}
  .aside-1{order:1;}
  .aside-2{order:2;}
  .main{display:flex; flex-flow:row;}
  img{
    width:30%; height:250px; margin-right: 10px;
  }
}
p {
  font-family: 'Open Sans', sans-serif, helvetica;
  color:white;
font-size: 20px;
font-weight: lighter;
text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;

  color:white;

text-align: center;
font-size: 50px;
font-weight: bolder;
}
h4 {
  font-family: 'Montserrat', sans-serif;

  color:white;

text-align: center;
  font-size: 20px;
  font-weight: lighter;
}
h2 {
font-family: 'Open Sans', sans-serif, helvetica;
  color:white;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}
h3{
font-family: 'Roboto Slab', serif, helvetica;
  color:white;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;}
